html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  background-size: 100%;
  background-position: bottom;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

a {
  color: #42a5f5;
}

a:hover {
  text-decoration: underline;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #424242;
  box-shadow: none;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
}

.navigation-containee {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-text-positioning {
  left: 30px;
}

.clear-form {
  padding: 0px;
  margin-top: 0px;
}

.gray-text-color {
  color: #424242;
}

.blue-text-color {
  color: #039be5;
}

.red-text-color {
  color: #ef5350;
}

.glow-text-style {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #ffffff;
}

.bold-text-style {
  font-weight: bold;
}

.italic-text-style {
  font-style: italic;
}

.center-text-align {
  text-align: center;
}

.navbar-logo {
  left: 30px;
}

.navbar-logo:hover {
  text-decoration: none;
}

.remove-outline {
  outline: none;
}

.padding-bottom {
  padding-bottom: 40px;
}
