html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  background-size: 100%;
  background-position: bottom;
  background-color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #039be5;
  box-shadow: none;
}

.marker-me {
  width: 50px;
  height: 50px;
}

.marker-others {
  width: 50px;
  height: 50px;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}

.location-description {
  color: #212121;
  text-align: center;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
}

.navigation-containee {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-text-positioning {
  left: 30px;
}

.bold-text-style {
  font-weight: bold;
}

.blue-text-color {
  color: #039be5;
}

.red-text-color {
  color: #ef5350;
}
